<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>It is Hedaer</h1>
    {{{body}}}
    {{! body부분은 header와 footer를 제외한 데이터를 넣을 곳 }}
    <h1>It is Footer</h1>

  </body>
</html>